/*****************

Common

*****************/

body {
  font-family: "monospace", sans-serif;
  background-color: aqua;
}

.font-primary {
  color: #00abae;
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: #000 !important;
}

.navbar {
  background-color: rgba(221, 216, 216, 0.713);
}

/*********************

ABOUT

*********************/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 45%;
  width: 50%;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 14px;
  color: #00abae;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

#about .icon {
  margin-top: 20px;
  font-size: 30px;
}

#about .icon a {
  color: #000;
}

/*****************

PROJECT

******************/

#projects {
  margin: 60px auto;
  width: 80%;
}

#projects h2 {
  text-align: center;
}

#projects .card img {
  width: 100%;
}

#projects .card-title {
  font-weight: bold;
}

#projects .card .blue {
  background-color: #a8b0f5d0;
}

#projects .card .red {
  background-color: #f13131ab;
}
